.l-contents{
	width: 100%;
	height: auto;
	&.-w1200{
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}
	&.-w1050{
		width: 100%;
		max-width: 1050px;
		margin: auto;
	}
	&.-w90-s{
		@include mq(sp){
			width: 90%;
		}
	}
	&.-w93-s{
		@include mq(sp){
			width: 93%;
		}
	}
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					background-image: url(/images/bg/top-parallax_bg_s.jpg);
					@include mq(tb){
						background-image: url(../images/bg/top-parallax_bg.jpg);
					}
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;

			&.-text,
			&.-kukaku,
			&.-location-trainBox,
			&.-builtPlanText,
			&.-setsubiText{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&.-top-qualityBtn{
				top: 70%;
				left: 50%;
				transform: translateX(-50%);

				@include mq(tb){
					width: 25%;
				}
			}

		}
		&.-pc80{
			width: 80%;
			margin: auto;
			@include mq(tb){
				width: 45%;

			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-top-slider{
		position: relative;
		//下記スマホ以上
		@include mq(tb){
			background: $main-color--gray;
		}
		.l-contentsBox{

			&.-top-ballon{
				position: absolute;
				top: 42%;
				left: 5%;
				width: 23%;
				z-index: 1;
				@include mq(tb){
					top: 30%;
					left: 5%;
					width: 15%;
				}
				@include mq(tb-pc1300){
					top: 27%;
					width: 13%;
				}
				@include mq(tb-pc1600){
					top: 26%;
					left: 8.5%;
					width: 10%;
				}
				@include mq(tb-pc1850){
					top: 22%;
					left: 13.5%;
				}
				// .ballonBox{
				// 	width: 30%;
				// 	@include mq(tb){
				// 		width: 15%;
				// 	}
				// }
			}
		}

	}
	&.-textArea{
		width: 90%;
		height: auto;
		@include mq(tb){
			width: 100%;
		}
	}
	&.-obi{
        width: 95%;
        margin: auto;
    }

	&.-borderBtm{
		border-bottom: 1px solid black;
	}
}

