
.l-slider {
    // 周辺環境
    .location-slider{
        .slick-img{
            @include mq(sp){
                width: 100vw !important;
                padding: 0 3.5vw;
            }
            @include mq(tb){
                padding: 0 10px;
            }
            @include mq(pc){
            }
        }
    }
    // 新築分譲住宅
    .built-slider{
        @include mq(sp){
            // padding-bottom: 1vh;
        }
        .slick-img{
            img{
                margin-bottom: .5vh;
            }
            @include mq(sp){
                // width: 100vw !important;
                margin: 0 10px;
            }
            @include mq(tb){
                // width: 33.3333% !important;
                padding: 0 10px;
            }
            @include mq(pc){
            }
        }
    }
}
.slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
.prev-arrow{
    left: -30px;
    width: 0;
    height: 0;
    background: $main-color--gray;
    border-left: 0 solid $main-color--w;
    border-right: 15px solid #003444;
    border-top: 10px solid $main-color--w;
    border-bottom: 10px solid $main-color--w;
    transition: .5s all;
    @include mq(tb){
        left: -40px;
        border-left: 0 solid $main-color--gray;
        border-top: 10px solid $main-color--gray;
        border-bottom: 10px solid $main-color--gray;
    }
    &:hover{
        border-right: 15px solid $site-color01;
    }
}
.next-arrow{
    right: -30px;
    width: 0;
    height: 0;
    background: $main-color--gray;
    border-right: 0 solid $main-color--w;
    border-left: 15px solid #003444;
    border-top: 10px solid $main-color--w;
    border-bottom: 10px solid $main-color--w;
    transition: .5s all;
    @include mq(tb){
        right: -40px;
        border-right: 0 solid $main-color--gray;
        border-top: 10px solid $main-color--gray;
        border-bottom: 10px solid $main-color--gray;
    }
    &:hover{
        border-left: 15px solid $site-color01;
    }
}

.slick-dots{
    @include mq(sp){
        bottom: -15px !important;
    }
    li{
        button{
            &:before {
                color: $main-color--b !important;
                transition: .3s all;
                @include mq(tb){
                    color: white !important;
                    font-size: 17px !important;
                    width: 44px !important;
                    height: 44px !important;
                }
            }
            &:hover{
                &:before {
                    color: #003444 !important;
                }
            }
        }
    }
}
.slick-active{
    button{
        &:before {
            color: $site-color01 !important;
        }
    }
}